.products__title {
    margin-top: 96px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 6px;
}

.products__sub-title {
    margin-bottom: 48px;
    text-align: center;
    font-size: 14px;
    color: #9F9F9F;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    width: 360px;
    height: 581px;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.products__item-title {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    margin-top: 25px;
    padding-left: 18px;
}

.products__item-text {
    color: #5D5D5D;
    font-weight: 300;
    font-size: 14px;
    margin-top: 12px;
    padding-left: 17px;
}

.products__item-price {
    margin-top: 12px;
    margin-bottom: 20px;
    padding-left: 18px;
    color: var(--pink-color);
}

.cart-wrapper {
    position: relative;
}


.products__item-img--overlay::before {
    content: "";
    backgound-color: #222222;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.6;
    display: none;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.products__item:hover .products__item-img--overlay::before .products__item:hover .button::before {
    display: block;
}

.products__block {
    display: flex;
    justify-content: center;
}

.products__block-button {
    width: 211px;
    text-align: center;
    display: block;
    line-height: 19px;
    color: var(--pink-bkg);
    padding: 15px 39px;
    background-color: var(--pink-color);
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    margin-bottom: 95px;
    text-decoration: none;
}